
body
{
 background-color:transparent;			
 background-image:url("dolphin.png");
 opacity:2.5px;
 display:flex;
 justify-content:center;
 align-items:center;
   

 //background-repeat:repeat,n0-repeat,repeat-x,repeat-y;
 //background-size:auto,cover,contain,200px;
 //background-attachment:fixed,scroll;
}


input{ 

width:200px;
height:30px;
background-color:transparent;
border:none;
border-bottom:3px solid aqua;
margin:10px;
outline:none;
}
 
#sub
{
  border-radius:60px;
  border:2px solid aqua;
  color:aqua;
  background-color:black;
  margin-left:19px;
  margin-top:50px;
  padding:10px;
  
}